<table class='table'
             *ngIf='items'>
        <thead>
          <tr>
            <th>Ticket Number</th>
            <th>Description</th>
            <th>State</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor='let data of items' [ngSwitch]="data.state">
           <td>
               {{data.number}}
            </td>
            <td>{{data.short_description}}</td>
            <td *ngSwitchCase="'1'">New</td>
            <td *ngSwitchCase="'2'">In Progress</td>
            <td *ngSwitchCase="'3'">On Hold</td>
            <td *ngSwitchCase="'6'">Resolved</td>
            <td *ngSwitchCase="'7'">Closed</td>
            <td *ngSwitchCase="'8'">Cancelled</td>
          </tr>
        </tbody>
      </table>